html {
  background-color: black;
}

body, html { /*Configuration of all the content of the page*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Courier New, monospace; /*Font type of all the content of the page*/
  font-size: 12px;
  color: white; /*Color of all the content of the page (dark grey*/
}

h1 { /*Configuration of the headers*/
  margin: 0; 
}

header, nav, section, article, div {
  box-sizing: border-box;
  /*tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
}

header {
  text-align: center;
}

ul {
  list-style: none; /*No bullet points*/
  padding: 0;
  margin: 0;
}

/*
 *
 * Header
 *
 */

.header {
  /*box-shadow: 0 5px 10px #808080; /*Adds a shadow in the bottom border of the box that contains the header*/
  min-height: 56px;
  transition: min-height 2s; /*Allows to eliminate the horizontal line for bigger viewports*/
  background-color: #FFA500;
}

.header__inner { /*Configuration of the header*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo { /*Configuration of the logo*/
  height: 100px;
  margin-right: 1em;
  margin-left: 1em;
  vertical-align: top;
  margin-top: 2em;
}

.header__title { /*Configuration of the title of the page*/
  font-weight: bolder;
  font-size: 3.5em;
  margin: 2em 0.25em;
  display: inline-block;
  color: black;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav { /*Configuration of the menu*/
  width: 100%;
  padding-left: 1em;
  padding-right: 5em;
}

.nav__list { /*Configuration of the menu*/
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__itema { /*Configuration of the items of the menu*/
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__itemb{ /*Configuration of the items of the menu*/
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__itemc { /*Configuration of the items of the menu*/
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__itemd { /*Configuration of the items of the menu*/
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav a { /*Configuration of the clickable items*/
  text-decoration: none;
  color: white;
  padding: 1.5em;
  font-size: 2.2em;
}

.nav a:hover { /*Configuration of the clickable items when hovering over the items with the mouse*/
  text-decoration: underline;
  color: #800000;
}


/*
 *
 * Main
 *
 */

main { /*Configuration of the content*/
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  background-color: #800000;
  color: white;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero { /*Configuration of the hero section*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/ARBUCHELI/CS50T-WEB-ASSIGNMENT/main/Pictures/6266e4866be968f3f0582ac20528bc64.jpg");
  background-size: cover;
  padding-top: 15em;
  height: 500px;
  border: solid;
  border-radius: 5px;
}

.hero article { /*Configuration of the article*/
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}

.content { /*The CSS flex-wrap property is used to specify whether flex items are forced into a single line or wrapped onto multiple lines. */
  display: flex;
  flex-wrap: wrap;
  padding-top: 4em;
  padding-bottom: 4em;
}

.header__menu {
  display: none; /*display: none; is commonly used with JavaScript to hide and show elements without deleting and recreating them.*/
}

@media screen and (max-width: 850px) {
  .hero {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  main, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}







 
